body {
    background-color: #1e1e1e;
    color: #fff;
    box-sizing: border-box;
    font-family: "Staatliches", sans-serif;
  }
  
  .container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
  }
  
  header{
     display: flex;
     justify-content: center;
  }
  .title {
    font-size: 2.5rem;
    background: linear-gradient(90deg, #0dff00, #007bff);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    text-align: center;
    font-family: "Protest Guerrilla", sans-serif;
  }

  